  <nav class="">
    <ul>
      <li><%= link_to "Accueil", root_path %></li>
	  
	 <li><%= link_to "ajouter un livre", new_book_path %></li>
      <li><%= link_to "voir tous les livres", books_path %></li>
      <li><%= link_to "Chercher un livre", search_path %></li>
	  <li><%= link_to "Aide", "#" %></li>
     </ul>
  </nav>
